{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block titlepage %}
<h1>Configuration</h1>
{% endblock %}
{% block sidebar %}
{% include "sidebar.html" %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-2">
                        <label for="">Choose Template</label>
                    </div>  
                    <div class="col-lg-2">
                        <select name="" id="cmb_pdf_template_name" class="form-control">
                            {%for row in templates%}
                            <option {% if row.pdf_template_name == data.0.pdf_template_name %} selected {% endif %} >{{ row.pdf_template_name }}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="col-lg-1">
                        <button class="btn btn-primary" onclick="changeTemplate()">Change</button>
                    </div>
                    <div class="col-lg-1">
                        <button class="btn btn-danger" onclick="deleteTemplate()">Delete</button>
                    </div>
                </div>
                <hr>
                <form action="{% url 'config' %}" method="POST" autocomplete="off" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-lg-6">
                            {% csrf_token %}
                            {{ form | crispy }}<hr>
                        </div>
                        <div class="col-lg-6">
                            {% csrf_token %}
                            {{ form2 | crispy }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-left">
                            <input class="btn btn-success" type="submit" value="Simpan">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- <div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <table class="table dataTable">
                    <thead>
                        <tr>
                            <th>Report Title</th>
                            <th>Department</th>
                            <th>Weight Adjustment</th>
                            <th>Petugas Penimbangan / Gudang Aktif</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for row in data%}
                        <tr>
                            <td>{{row.pdf_reporttitle}}</td>
                            <td>{{row.pdf_department}}</td>
                            <td>{{row.weightadjustment}}</td>
                            <td>{{row.operator}} / {{row.petugasgudang}}</td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> -->
{% endblock %}
{% block additionaljs %}
<script>
    {% if message %}
    alert("{{message}}")
    {% endif %}

    function changeTemplate(){
        var url = "{% url 'changetemplate'%}";
        var pdf_template_name = $("#cmb_pdf_template_name").val();
        var data = {
            pdf_template_name: pdf_template_name
        }
        $.ajax({
            type: "GET",
            data: data,
            url: url,
            success: function (data) {
                alert(data)
                location.reload();
            }
        })
    }

    function deleteTemplate(){
        var url = "{% url 'deletetemplate'%}";
        var pdf_template_name = $("#cmb_pdf_template_name").val();
        var data = {
            pdf_template_name: pdf_template_name
        }
        var confirmed = confirm("Are you sure you want to delete this template?");
        if (confirmed) {
            $.ajax({
                type: "GET",
                data: data,
                url: url,
                success: function (data) {
                    alert(data)
                    location.reload();
                }
            })
        }
    }
</script>
{% endblock %}