{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block titlepage %}
<h1>Configuration</h1>
{% endblock %}
{% block sidebar %}
{% include "sidebar.html" %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form action="{% url 'config' %}" method="POST" autocomplete="off" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-lg-6">
                            {% csrf_token %}
                            {{ form | crispy }}<hr>
                            <input class="btn btn-success" type="submit" value="Simpan">
                        </div>
                        <div class="col-lg-6">
                            {% csrf_token %}
                            {{ form2 | crispy }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <table class="table dataTable">
                    <thead>
                        <tr>
                            <th>Report Title</th>
                            <th>Department</th>
                            <th>Weight Adjustment</th>
                            <th>Petugas Penimbangan / Gudang Aktif</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for row in data%}
                        <tr>
                            <td>{{row.pdf_reporttitle}}</td>
                            <td>{{row.pdf_department}}</td>
                            <td>{{row.weightadjustment}}</td>
                            <td>{{row.operator}} / {{row.petugasgudang}}</td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block additionaljs %}
<script>
    {% if message %}
    alert("{{message}}")
    {% endif %}
</script>
{% endblock %}