{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block titlepage %}
<h1>Weighing History</h1>
{% endblock %}
{% block sidebar %}
{% include "sidebar.html" %}
{% endblock %}
{% block content %}
<div class="modal fade" id="weightAdjustmentModal" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="weightAdjustment">Weight Adjustment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input class="form-control" type="hidden" id="registerid">
                <label>Initial Weight</label>
                <input class="form-control" type="text" id="currentweight" readonly="readonly">
                <label>Weight Change</label>
                <input class="form-control" type="text" id="differenceweight" readonly="readonly">
                <label>Desired Weight</label>
                <input class="form-control" type="text" id="finalweight"
                    onkeypress="return event.charCode == 46 || (event.charCode >= 48 && event.charCode <= 57)">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary float-left" id="btnsubmitweightAdjustment"
                    data-dismiss="modal">Submit</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form action="{% url 'history' %}" method="POST" autocomplete="off">
                            <div class="row">
                                {% csrf_token %}
                                <div class="col-lg-6">
                                    {% for field in form|slice:":2" %}
                                    {{field|as_crispy_field}}
                                    {% endfor %}
                                    <hr>
                                </div>
                                <div class="col-lg-6">
                                    {% for field in form|slice:"2:" %}
                                    {{field|as_crispy_field}}
                                    {% endfor %}
                                    <hr>
                                </div>
                            </div>
                            <input class="btn btn-success" type="submit" value="Cari">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <table class="table small" id="batchhistorylist">
                    <thead>
                        <tr>
                            <th width="15%">Product</th>
                            <th>Batch No</th>
                            <th>Box No</th>
                            <th>Weight</th>
                            <th width="5%">Status</th>
                            <th>Input Date</th>
                            <th>Print Date</th>
                            <th>Petugas Penimbangan / Gudang</th>
                            <th>Hist. Action</th>
                            <!-- <th>Action</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {%for row in data%}
                        <tr>
                            <td>{{row.product_name}}</td>
                            <td>{{row.batchno}}</td>
                            <td>{{row.boxno}}</td>
                            <td>{{row.iot_weight|floatformat:4}}</td>
                            <td>
                                {% if row.status == 1 %}
                                OK
                                {% elif row.status == 2 %}
                                Reject
                                {% elif row.status == 3 %}
                                Last Box
                                {% else %}
                                Belum Ditimbang
                                {% endif %}
                            </td>
                            <td>{{row.input_date|date:"Y/n/j G:i:s"}}</td>
                            <td>{{row.printedon|date:"Y/n/j G:i:s"|default_if_none:"Not Printed"}}</td>
                            <td>{{row.operator}} / <br>{{row.petugasgudang}}</td>
                            <td>{{row.action| capfirst}}</td>
                            <!-- <td>
                                <button class="btn btn-danger btn-sm deleteBox" data-id="{{row.id}}">
                                    <i class="fas fa-trash"></i>
                                </button>
                                <button class="btn btn-secondary btn-sm  btnweightAdjustment" data-id="{{row.id}}" data-weight="{{row.iot_weight}}">
                                    <i class="fa fa-pen"></i>
                                </button>
                            </td> -->
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block additionaljs %}
<script>
    $('#batchhistorylist').DataTable({
        "paging": true,
        "lengthChange": true,
        "searching": true,
        "ordering": true,
        "info": false,
        "autoWidth": false,
        "responsive": true,
        "order": [[5, 'desc']],
    });

    {% if message %}
    alert("{{message}}")
    {% endif %}

    var url = "{% url 'registerqr' %}"
    var redirecturl = "{% url 'history' %}"

    $("#batchhistorylist").on("click", ".btnweightAdjustment", function () {
        $("#differenceweight").val("")
        $("#finalweight").val("")
        $("#weightAdjustmentModal").modal('show')
        $("#currentweight").val($(this).data('weight'))
        $("#registerid").val($(this).data('id'))
    })
    $("#batchhistorylist").on("click", ".deleteBox",function () {
        var registerid = $(this).data('id');
        var allow = confirm("Apakah anda yakin untuk menghapus data?")
        if (allow){
            $.ajax({
                type: "PUT",
                dataType: "json",
                url: url,
                data: JSON.stringify({ "registerid": registerid }),
                success: function (data) {   // success callback function
                    alert(data.message)
                    window.location.replace(redirecturl);
                }
            })
        }
    })
    $("#btnsubmitweightAdjustment").click(function () {
        var url = "{% url 'editregisterweight' %}"
        var registerid = $("#registerid").val();
        var finalweight = parseFloat($("#finalweight").val());
        $.ajax({
            type: "POST",
            dataType: "json",
            url: url,
            data: JSON.stringify({"registerid": registerid, "finalweight": finalweight}),
            success: function (data) {   // success callback function
                alert(data.message)
                window.location.replace(redirecturl);
            }
        })
    })
</script>
{% endblock %}