{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block titlepage %}
{% endblock %}
{% block sidebar %}
{% include "sidebar.html" %}
{% endblock %}
{% block content %}
<div class="modal fade" id="rejectModal" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Reject Box</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label for="rejectbox">Berat box tidak memenuhi standar berat produk. <br>Pilih status untuk box ini:</label>
                <input class="form-control" type="hidden" id="rejectboxid">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary float-left" id="btnlastbox" data-dismiss="modal">Last Box</button>
                <button type="button" class="btn btn-primary float-right" id="btnreject" data-dismiss="modal">Reject</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="weightAdjustmentModal" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="weightAdjustment">Weight Adjustment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input class="form-control" type="hidden" id="registerid">
                <label>Initial Weight</label>
                <input class="form-control" type="text" id="currentweight" readonly="readonly">
                <label>Weight Change</label>
                <input class="form-control" type="text" id="differenceweight" readonly="readonly">
                <label>Desired Weight</label>
                <input class="form-control" type="text" id="finalweight" onkeypress="return event.charCode == 46 || (event.charCode >= 48 && event.charCode <= 57)">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary float-left" id="btnsubmitweightAdjustment" data-dismiss="modal">Submit</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{% if state.status %}{{state.product}}{% else %}Set Batch State terlebih dahulu!{% endif %}</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12 display-4">
                                <input class="form-control" type="text" id="qr">
                                <!-- placeholder="CHLON0.5%-|ICLG19050|2|INF|BG|" -->
                                <input type="hidden" id="code">
                                <input type="hidden" id="batchno">
                                <!-- <input class="form-control" type="text" id="code">
                                <input class="form-control" type="text" id="batchno"> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <button class="btn btn-block btn-success p-5" id="submitBoxno">PILIH BOX</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">WEIGHT</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12 strong text-right display-1">
                                <strong><span id="weight">-</span> g</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{% if state.status %}NO. BATCH: {{state.batchno}}{% else %}Set Batch State terlebih dahulu!{% endif %} </h3>
            </div>
            <div class="card-body" style="overflow-y: scroll; height:500px;">
                <ul class="products-list product-list-in-card pl-2 pr-2" id="batchhistorylist">
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block additionaljs %}
<script>
    var initialbatchno = '{{state.batchno}}'
    var initialproductcode = '{{state.product.code}}'

    var url = "{% url 'registerqr' %}"
    $("#submitBoxno").click(function () {
        boxSubmit()
    })

    function boxSubmit() {
        var qr = $("#qr").val().split("|");
        var code = qr[0]
        var batchno = qr[1]
        var boxno = qr[2]
        if (code != null || code != "") {
            $("#code").val(code)
        }
        if (batchno != null || batchno != "") {
            $("#batchno").val(batchno)
        }
        // alert(code+" "+batchno+" "+boxno)
        var data = {
            code: code,
            batchno: batchno,
            boxno: boxno
        }
        $.ajax({
            type: "POST",
            dataType: "json",
            url: url,
            data: data,
            success: function (data) {   // success callback function

                console.log(data)
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback 
                alert(jqXhr.responseJSON.message)
            },
            complete: function (data) {
                if ((batchno != null || batchno != "") && (code != null || code != "")) {
                    updateBoxList()
                }
            }
        })
    }

    function updateBoxList() {
        var batchno = $("#batchno").val()
        var code = $("#code").val()
        if ($("#batchno").val() == "") {
            batchno = initialbatchno
        }
        if ($("#code").val() == "") {
            code = initialproductcode
        }
        var url = "{% url 'registerqr' %}"+"/register?batchno="+ batchno +"&code="+ code
        // var url = "/weighing
        if (code && batchno) {
            $.ajax({
                type: "GET",
                dataType: "json",
                url: url,
                success: function (data) {   // success callback function
                    var html = '';
                    console.log(data)
                    for (const row in data.batch) {
                        var record = data.batch[row]
                        var weight = record.iot_weight == null? '-': record.iot_weight
                        var status = ""
                        if (record.status==0) {
                            status = 'REJECT'
                        } else if (record.status==2){
                            status = 'LAST BOX'
                        } else if (record.status == 1) {
                            status = 'OK'
                        } else {
                            status = 'WAITING FOR WEIGHING'
                        } 
                        html += '\
                        <li class="item">\
                            <div class="product-img" style="margin-right:7px">\
                                <button class="btn btn-secondary btnweightAdjustment" data-id="'+ record.id + '" data-weight="' + weight +'">\
                                    <i class="fa fa-edit"></i>\
                                </button>\
                            </div>\
                            <div class="product-info">\
                                <a href="javascript:void(0)" class="product-title">'+ status +'\
                                    <span class="display-4 float-right">'+ weight+' g </span></a>\
                                <span class="product-description">\
                                    BOX NO. '+record.boxno+' - <small>Input: '+record.createdon.substring(0,16).replace("T", " ")+'</small>\
                                </span>\
                            </div>\
                        </li>'
                    }

                    // <div class="product-img" style="margin-right:7px">\
                    //     <button class="btn btn-danger deleteBox" data-id="'+ record.id +'">\
                    //         <i class="fas fa-times"></i>\
                    //     </button>\
                    //     <button class="btn btn-secondary btnweightAdjustment" data-id="'+ record.id +'" data-weight="'+ weight +'">\
                    //         <i class="fa fa-edit"></i>\
                    //     </button>\
                    // </div>\

                    // if(data.insertsuccess == "False"){
                    //     // $("#rejectedbox").text(data.)
                    //     $("#rejectboxid").val(data.id)
                    //     $("#rejectModal").modal('show')
                    // }
                    $('#batchhistorylist').html(html)
                }
            })
        }
    }

    const interval = setInterval(function () {
        updateBoxList()
    }, 2500);

    function updateWeight() {
        var url = "{% url 'scale' %}"
        $.ajax({
            type: "GET",
            dataType: "json",
            url: url,
            success: function (data) {   // success callback function
                if(data==null){
                    $("#weight").text("-")
                }else{
                    $("#weight").text(data.weighing)
                }
                
            }
        })
    }

    const interval2 = setInterval(function () {
        updateWeight()
    }, 5000);

    $("#batchhistorylist").on("click", ".deleteBox",function () {
        var registerid = $(this).data('id');
        $.ajax({
            type: "PUT",
            dataType: "json",
            url: url,
            data: JSON.stringify({"registerid": registerid}),
            success: function (data) {   // success callback function
                alert(data.message)
                updateBoxList()
            }
        })
    })

    $("#btnsubmitweightAdjustment").click(function () {
        var url = "{% url 'editregisterweight' %}"
        var registerid = $("#registerid").val();
        var finalweight = parseFloat($("#finalweight").val());
        $.ajax({
            type: "POST",
            dataType: "json",
            url: url,
            data: JSON.stringify({"registerid": registerid, "finalweight": finalweight}),
            success: function (data) {   // success callback function
                alert(data.message)
                updateBoxList()
            }
        })
    })

    $("#btnlastbox").click(function () {
        var rejectboxid = $("#rejectboxid").val();
        var url = "{% url 'rejectbox' %}"
        $.ajax({
            type: "POST",
            dataType: "json",
            url: url,
            data: { "id": rejectboxid, "status":2 },
            success: function (data) {   // success callback function
                alert(data.message)
                updateBoxList()
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback 
                alert(jqXhr.responseJSON.message)
            },
        })
    })

    $("#btnreject").click(function () {
        var rejectboxid = $("#rejectboxid").val();
        var url = "{% url 'rejectbox' %}"
        $.ajax({
            type: "POST",
            dataType: "json",
            url: url,
            data: { "id": rejectboxid, "status": 0 },
            success: function (data) {   // success callback function
                alert(data.message)
                updateBoxList()
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback 
                alert(jqXhr.responseJSON.message)
            },
        })
    })
    
    $("#batchhistorylist").on("click", ".btnweightAdjustment", function () {
        $("#differenceweight").val("")
        $("#finalweight").val("")
        $("#weightAdjustmentModal").modal('show')
        $("#currentweight").val($(this).data('weight'))
        $("#registerid").val($(this).data('id'))
    })

    $("#finalweight").keyup(function () {
        $("#differenceweight").val($("#finalweight").val() - $("#currentweight").val())
    });

    $(document).not("#finalweight").on('keypress', function (e) {
        if (e.which == 13 && e.target.id == 'qr') {
            boxSubmit()
            $('#' + e.target.id).val("")
        }
        $('#qr').focus()
    });
</script>
{% endblock %}