{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block titlepage %}
<h1>Master Report Title</h1>
{% endblock %}
{% block sidebar %}
{% include "sidebar.html" %}
{% endblock %}
{% block content %}
<div class="col-lg-6">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    {% if action == 'view' %}
                    <form action="{% url 'viewreporttitle' %}" method="POST"  autocomplete="off">
                    {% elif action == 'edit' %}
                    <form action="{% url 'editreporttitle' id %}" method="POST"  autocomplete="off">
                    {% endif %}
                        {% csrf_token %}
                        {{ form | crispy }}
                        <hr>
                        <input class="btn btn-success" type="submit" value="Isikan">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <table class="table dataTable">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>SubTitle</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {%for row in data%}
                    <tr>
                        <td>{{row.title}}</td>
                        <td>{{row.subtitle}}</td>
                        <td><a class="btn btn-secondary" href="{% url 'editreporttitle' row.id %}"><i class="fas fa-edit"></i></a>
                            <a class="btn btn-danger" href="{% url 'deletereporttitle' row.id %}"
                                onclick="return confirm('Apakah anda yakin untuk menghapus data?')"><i
                                    class="fas fa-trash"></i></a></td>
                    </tr>
                    {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block additionaljs %}
<script>
    {% if message %}
        alert("{{message}}")
    {% endif %}
</script>
{% endblock %}