{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block titlepage %}
<h1>Manage Report</h1>
{% endblock %}
{% block sidebar %}
{% include "sidebar.html" %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form action="{% url 'viewreportbody' %}" method="POST" autocomplete="off">
                    <div class="row">
                        {% csrf_token %}
                        <div class="col-lg-6">
                            {% for field in form|slice:":4" %}
                            {{field|as_crispy_field}}
                            {% endfor %}
                            <hr>
                        </div>
                        <div class="col-lg-6">
                            {% for field in form|slice:"4:" %}
                            {{field|as_crispy_field}}
                            {% endfor %}
                            <hr>
                        </div>
                        <input class="btn btn-success" type="submit" value="Simpan">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <table class="table dataTable">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Batch No</th>
                            <th>Report Title</th>
                            <th>DN No</th>
                            <th>DN Rev</th>
                            <th>Created On</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for row in data%}
                        <tr>
                            <td>{{row.product}}</td>
                            <td>{{row.batchno}}</td>
                            <td>{{row.reporttitle}}</td>
                            <td>{{row.dnno}}</td>
                            <td>{{row.dnrev}}</td>
                            <td>{{row.createdon}}</td>
                            <td><a data-toggle="tooltip" title="Export to PDF" target="_blank" class="btn btn-primary" href="{% url 'reportbatchpdf' %}?id={{row.id}}"><i class="fas fa-file"></i></a>
                                <a data-toggle="tooltip" title="Edit" class="btn btn-secondary" href="{% url 'editreportbody' row.id %}"><i
                                        class="fas fa-edit"></i></a>
                                <a data-toggle="tooltip" title="Delete" class="btn btn-danger" href="{% url 'deletereportbody' row.id %}"
                                    onclick="return confirm('Apakah anda yakin untuk menghapus data?')"><i
                                        class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block additionaljs %}
<script>
    {% if message %}
    alert("{{message}}")
    {% endif %}
</script>
{% endblock %}