{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block titlepage %}
<h1>Report Batch</h1>
{% endblock %}
{% block sidebar %}
{% include "sidebar.html" %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form action="{% url 'reportbatch' %}" method="POST" autocomplete="off">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <hr>
                            <button id="exportbatch" class="btn btn-primary">Export CSV</button>
                            <input class="btn btn-success" type="submit" value="Cari">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <table class="table" id="reportTable">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Batch No</th>
                            <th>Box No</th>
                            <th>Weight (gram)</th>
                            <th>Status</th>
                            <th>Input Date</th>
                            <th>Ptgs Penimbangan</th>
                            <th>Ptgs Gudang</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for row in data%}
                        <tr>
                            <td>{{row.product_name}}</td>
                            <td>{{row.batchno}}</td>
                            <td>{{row.boxno}}</td>
                            <td>{{row.iot_weight}}</td>
                            <td>
                                {% if row.status == 1 %}
                                OK
                                {% elif row.status == 3 %}
                                Last Box
                                {% elif row.status == 2 %}
                                <i class="fas fa-times text-red"></i>
                                {% endif %}
                            </td>
                            <td>{{row.input_date|date:"Y/n/j h:m:i"}}</td>
                            <td>{{row.operator}}</td>
                            <td>{{row.petugasgudang}}</td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block additionaljs %}
<script>
    {% if message %}
    alert("{{message}}")
    {% endif %}

    $("#exportbatch").click(function () {
        var url = "{% url 'reportbatchcsv' %}"
        var productid = $("#id_productid").val()
        var batchno = $("#id_batchno").val()
        var inputdatefrom = $("#id_inputdatefrom").val()
        var inputdateto = $("#id_inputdateto").val()
        var reporttype = $("#id_reporttype").val()
        window.open(url + "?productid=" + productid + "&batchno=" + batchno + "&inputdatefrom=" + inputdatefrom + "&inputdateto=" + inputdateto + "&reporttype=" + reporttype)
    })

    $("#exportbatchpdf").click(function () {
        var url = "{% url 'reportbatchpdf' %}"
        var productid = $("#id_productid").val()
        var batchno = $("#id_batchno").val()
        var inputdatefrom = $("#id_inputdatefrom").val()
        var inputdateto = $("#id_inputdateto").val()
        var reporttype = $("#id_reporttype").val()
        if (!productid || !batchno) {
            alert("Product dan Batch No harus diisi!")
        } else {
            window.open(url + "?productid=" + productid + "&batchno=" + batchno + "&inputdatefrom=" + inputdatefrom + "&inputdateto=" + inputdateto)
        }
    })

    $('#reportTable').DataTable({
        "paging": true,
        "lengthChange": true,
        "searching": true,
        "ordering": true,
        "info": false,
        "autoWidth": false,
        "responsive": true,
        "order": [[5, 'desc']],
    });
</script>
{% endblock %}