{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block titlepage %}
{% endblock %}
{% block sidebar %}
{% include "sidebar.html" %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <form action="{% url 'reprint' %}" method="POST" autocomplete="on">
            <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h3>REPRINT</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                {% csrf_token %}
                                {{form | crispy}}
                                <!-- placeholder="CHLON0.5%-|ICLG19050|2|INF|BG|" -->
                                <input type="hidden" id="code">
                                <input type="hidden" id="batchno">
                                <input type="hidden" id="weightadjustment">
                                <!-- <input class="form-control" type="text" id="code">
                                <input class="form-control" type="text" id="batchno"> -->
                                {% if messages %}
                                    {% for message in messages %}
                                    {{ message }}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <button class="btn btn-block btn-success" type="submit" style="height: 194px;">PILIH BOX</button>
                </div>
            </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">CURRENT BOX REPRINT</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12 strong text-right display-1">
                                <strong><span id="weight">-</span></strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                REPRINT LIST
            </div>
            <div class="card-body" style="overflow-y: scroll; height:500px;">
                <ul class="products-list product-list-in-card pl-2 pr-2" id="batchhistorylist">
                {%for row in data%}
                <li class="item">
                    <div class="product-img" style="margin-right:7px">
                        <i class="fa fa-box"></i>
                    </div>
                    <div class="product-info">
                        <a href="javascript:void(0)" class="product-title">
                            {% if row.register.status == 2 %}
                            REJECT
                            {% elif row.register.status == 1 %}
                            OK
                            {% elif row.register.status == 3 %}
                            LAST BOX
                            {% endif %}
                            <span class="display-4 float-right">{{row.register.weight}} g </span></a>
                        <span class="product-description">
                            BOX NO. {{row.register.boxno}} - <small>Input: {{row.createdon|date:"d-m-Y H:i"}}</small>
                        </span>
                    </div>
                </li>
                {%endfor%}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block additionaljs %}
<script>
    var url = "{% url 'registerqr' %}"

    $("#submitBoxno").click(function () {
        boxSubmit()
    })

    function boxSubmit() {
        var qr = $("#qr").val().split("|");
        var code = qr[0]
        var batchno = qr[1]
        var boxno = qr[2]
        if (code != null || code != "") {
            $("#code").val(code)
        }
        if (batchno != null || batchno != "") {
            $("#batchno").val(batchno)
        }
        alert(code+" "+batchno+" "+boxno)
        var data = {
            code: code,
            batchno: batchno,
            boxno: boxno
        }
        // $.ajax({
        //     type: "POST",
        //     dataType: "json",
        //     url: url,
        //     data: data,
        //     success: function (data) {   // success callback function
        //         console.log(data)
        //     },
        //     error: function (jqXhr, textStatus, errorMessage) { // error callback 
        //         alert(jqXhr.responseJSON.message)
        //     },
        //     complete: function (data) {
        //         if ((batchno != null || batchno != "") && (code != null || code != "")) {
        //             updateBoxList()
        //         }
        //         $("#qr").val("")
        //         $('#qr').focus()
        //     }
        // })
    }
</script>
{% endblock %}