<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-database"></i>
                <p>
                    Master Data
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="{% url 'viewproduct'%}" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Product</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-chevron-right"></i>
                        <p>
                            Report
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'viewdepartment'%}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Department</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'viewreporttitle'%}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Report Title</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-balance-scale"></i>
                <p>
                    Transaction
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="{% url 'weighing'%}" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Weighing</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'history'%}" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Weighing History</p>
                    </a>
                </li>
                <!-- <li class="nav-item">
                    <a href="{% url 'viewuploadbatch'%}" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Upload Batch</p>
                    </a>
                </li> -->
                <li class="nav-item">
                    <a href="{% url 'viewweighingstate'%}" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Batch No</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-file"></i>
                <p>
                    Report
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="{% url 'reportbatch'%}" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>CSV</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'viewreportbody'%}" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>PDF</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-user"></i>
                <p>
                    User Management
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="{% url 'changepwd'%}" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Change Password</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'viewreportbody'%}" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Groups</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'userlist'%}" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Users</p>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>