{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block titlepage %}
<h1>Change Password</h1>
{% endblock %}
{% block sidebar %}
{% include "sidebar.html" %}
{% endblock %}
{% block content %}

<div class="card card-secondary card-tabs">
    <div class="card-header p-0 pt-1">
        <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link {% if action == 'edit' %} active {% endif %}" id="button-tab-2" data-toggle="pill"
                    href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Edit</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content" id="custom-tabs-one-tabContent">
            <div class="tab-pane fade active show" id="tab-2" role="tabpanel"
                aria-labelledby="button-tab-2">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                {% if messages %}
                                <ul class="list-group">
                                    {% for message in messages %}
                                    <li {% if message.tags %} class="list-group-item {{ message.tags }} " {% endif %}> {{ message }} </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                                <form action="{% url 'changeotherspwd' id%}" method="POST" autocomplete="off">
                                    <div class="row">
                                        {% csrf_token %}
                                        <div class="col-lg-6">
                                            {% for field in form|slice:":4" %}
                                            {{field|as_crispy_field}}
                                            {% endfor %}
                                            <hr>
                                            <input class="btn btn-success" type="submit" value="Simpan">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block additionaljs %}
<script>
    {% if message %}
    alert("{{message}}")
    {% endif %}
</script>
{% endblock %}